services:
  homebox:
    image: ghcr.io/sysadminsmedia/homebox:latest
    #   image: ghcr.io/sysadminsmedia/homebox:latest-rootless
    container_name: homebox
    restart: always
    environment:
      - HBOX_LOG_LEVEL=info
      - HBOX_LOG_FORMAT=text
      - HBOX_WEB_MAX_UPLOAD_SIZE=10
      - HBOX_OPTIONS_ALLOW_ANALYTICS=false
      - HBOX_OPTIONS_TRUST_PROXY=true
    volumes:
      - homebox-data:/data/
    #ports:
    #  - 7745:7745
    networks:
      - default
      - hanwg.top
    env_file:
      - .env

volumes:
  homebox-data:

networks:
  default:
    internal: true
  hanwg.top:
    external: true