services:
  nginx-proxy-manager:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx-proxy-manager
    restart: always
    labels:
      komodo.skip: # Prevent Komodo from stopping with StopAllContainers
    ports:
      - '443:443' # Public HTTPS Port
      # - '81:81'   # Admin Web Port
      - '80:80'   # Redirect to HTTPS
      - '8554:8554' # frigate rtsp stream
      - '8555:8555' # frigate webrtc stream
    volumes:
      - data:/data
      - /nas/nginx-proxy-manager/letsencrypt:/etc/letsencrypt
      - /nas/nginx-proxy-manager3/logs:/data/logs
    networks:
      - default
      - hanwg.top
    environment:
      - TZ=Asia/Singapore

volumes:
  data:
  letsencrypt:

networks:
  default:
  hanwg.top:
    name: hanwg.top
    internal: true