services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n
    restart: always
    #ports:
    #  - "127.0.0.1:5678:5678"
    environment:
      - N8N_HOST=n8n.hanwg.top
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - NODE_ENV=production
      - N8N_BLOCK_FILE_ACCESS_TO_N8N_FILES=false
      - WEBHOOK_URL=https://n8n.hanwg.top/
      - GENERIC_TIMEZONE=Asia/Singapore
    volumes:
      - n8n_data:/home/node/.n8n
      - /homes:/homes
      - /nas:/nas
    networks:
      - default
      - hanwg.top
volumes:
  n8n_data:
networks:
  default:
  hanwg.top:
    external: true